*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {

    background-image: url(../images/pexels-felix-mittermeier-956999.jpg);
    background-size: 100% 100%;
}
.color
{
    color: green;
}
.move {
    position: relative;
    bottom: 97%;
    
}
.color1{
    color: #a79344;
}

@media(max-width: 500px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table td button{
        display: block;
        width: 100%;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
@media(max-width: 300px){
    section,.container{
        width: 300px;
    }

}